<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" style="width: 200px; height: auto; margin-left: 550px" aria-current="page" href="/blogs">Homepage</a>
  </li>
  </ul>