<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body style="background-color: lightblue;">
   <ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" style="width: 200px; height: auto; " aria-current="page" href="/blogs">Homepage</a>
  </li>
  </ul>
     <h1 class="display-1" style="margin-left: 450px;">Editing tweet by {{twitter_user}}</h1>
    

    <form action="/blogs/{{id}}?_method=PUT" method="post"  style="margin-left: 450px;">
    <label for="user_comment" class="form-label">Twitter User:</label>
        <input type="text"
           id="twitter_user"
                name="twitter_user"
                    value="{{twitter_user}}"
                        placeholder="Enter twitter user name">

        <br>
        
        <div class="mb-3">
  <labelfor="tweet_message" class="form-label">Edit tweet:</labelfor>
  <textarea class="form-control" name="tweet_message" id="tweet_message" cols="30" rows="10" 
            placeholder="Edit comment here" style="width: 500px;"> {{tweet_message}}</textarea>
            <br>
</div>
<button type="submit" class="btn btn-primary mb-3">EDIT</button>

</form>
</body>
</html>